@model System.Collections.Generic.List<Webform_CRUD_Application.Models.WidgetEntity>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Widgets</title>
    </head>
    <body>
        <div>
    
        </div>
    </body>
</html>
